:root {
    --background-color: #dfddd7;
    --background-color-lighter: #f6f5f5;
    --nav-red: #dd0000;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Courier New', Courier, monospace;
}

/* NAV BAR */

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    width: 100%;
    background-color: var(--nav-red);
    padding: 2%;
}

.nav-left {
    margin-right: 1px;
}

.nav-right {
    margin-left: 1px;
}

nav ul li a {
    color: white;
    font-size: xx-large;
}

/* MENU SECTION */

.menu-section-button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
    width: 100%;
    padding: 5% 0;
    margin: 0;
    background-color: white;
    border: white;
    cursor: pointer;
}

.menu-section-div {
    background-color: var(--background-color-lighter);
    font-size: x-large;
    padding: 0;
    margin: 0;
}

.menu-section-div h3 {
    padding: 0;
    margin: 0;
}

.menu-section-div h4 {
    color: var(--nav-red);
    padding: 0;
    margin: 0;
}

.menu-item-title-price-container {
    display: flex;
    width: 25%;
    margin-right: auto;
    margin-left: 1%;
}

.menu-section-div p {
    width: 32%;
    padding: 0;
    margin: 0;
    margin-right: auto;
    font-size: large;
}

.menu-section-div img {
    width: 32%;
    height: min-content;
    padding: 0;
    margin: 0;
}

.menu-item-div {
    width: 100%;
    display: flex;
    padding: 5% 0;
}